@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap");

:root {
  --blue: #0188df;
  --black: #354046;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 400;
  transition: all 0.2s linear;
}
*::selection {
  background: var(--black);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}

section {
  overflow: hidden;
}
.button {
  height: 3.5rem;
  width: 15rem;
  background: var(--black);
  color: #fff;
  font-size: 1.7rem;
  text-transform: capitalize;
  cursor: pointer;
  position: relative;
  z-index: 0;
  overflow: hidden;
  border-radius: 0.5rem;
  margin: 2.5rem 0;
  animation: mymove 3s;
  animation-fill-mode: forwards;
}
.button:hover {
  background-color: rgb(10, 160, 160);
}
@keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 200px;
  }
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 1rem;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a {
  color: var(--black);
}
header a:hover {
  color: var(--blue);
}
header .container .logo {
  font-size: 3rem;
}
header .container .logo span {
  color: var(--blue);
}

header .nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
header .nav ul li {
  margin: 0 1rem;
}
header .nav ul li a {
  font-size: 2rem;
}
header .fa-bars {
  font-size: 3.5rem;
  color: var(--blue);
  cursor: pointer;
  display: none;
}

header .fa-times {
  transform: rotate(180deg);
}

.home .content h1 {
  font-size: 5rem;
  color: var(--black);
}
.home .content h1 span {
  color: var(--blue);
}
.home .content h3 {
  font-size: 4rem;
  color: var(--black);
}

.about {
  background-color: #eee;
}
.about .content .box h3 {
  font-size: 2.5rem;
  color: rgb(10, 160, 160);
}
.about .content .box h3 i {
  padding: 0 1rem;
  color: rgb(10, 160, 160);
}

.about .content .box {
  margin: 3rem 0;
}
.about .content .box p {
  font-size: 1.7rem;
  padding-left: 6rem;
  color: #354046;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-top: 10px;
}

.header-part {
  padding: 32px;
  text-align: center;
  color: rgb(10, 160, 160);
}
h1 {
  font-size: 4rem;
}
.hr {
  width: 80px;
  padding-left: 200px;
  margin-left: 530px;
  margin-top: 20px;
}

/*///////////// gallery CSS /////////////*/

.-fx-image-gal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  justify-content: center;
}
.-fx-gal-item {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.-fx-gal-item a {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.-fx-gal-image-thumb img {
  width: 100%;
  cursor: pointer;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(40%);
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.-fx-gal-image-thumb:hover img {
  cursor: pointer;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
  transform: scale(1.5);
  transition: all 0.5s ease;
}

article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
  font-family: "Bebas Neue", cursive;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
}

article a:focus {
  outline: 1px dotted #28666e;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

/************************ 
  Generic layout (demo looks)
  **************************/

.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}

@media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
  }
  .article-body p {
    display: none;
  }
}

@container card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }
  .article-body {
    padding-left: 0;
  }
  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

h1 {
  font-family: "Poppins", sans-serif, "arial";
  font-weight: 600;
  font-size: 72px;
  color: rgb(6, 95, 80);
  text-align: center;
}

h4 {
  font-family: "Roboto", sans-serif, "arial";
  font-weight: 400;
  font-size: 20px;
  color: #9b9b9b;
  line-height: 1.5;
}

/* ///// inputs /////*/

input:focus ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) {
  .styled-input {
    width: 100%;
  }
}

.styled-input label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide {
  width: 650px;
  max-width: 100%;
}

input,
textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #2d2d2d;
  color: white;
  border-radius: 4px;
}

input:focus,
textarea:focus {
  outline: 0;
}

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

.submit-btn {
  float: right;
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: #4b8cfb;
  color: white;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.09);
}

@media (max-width: 768px) {
  .submit-btn {
    width: 100%;
    float: none;
    text-align: center;
  }
}

input[type="checkbox"] + label {
  color: #ccc;
  font-style: italic;
}

input[type="checkbox"]:checked + label {
  color: #f00;
  font-style: normal;
}

.card {
  margin: 10px auto;
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  height: 100%;
  transition: 0.3s;
  margin-bottom: 90px;
  padding-bottom: 40px;
  background-color: #0d9499;
}
.card:hover {
  box-shadow: 1px 10px 16px 0 rgba(0, 0, 0, 0.3);
}
.card-title {
  text-align: center;
  color: #fffcfc;
  font-weight: bold;
}
.card-text {
  font-weight: 500;
  color: #f0f1f3;
}
.card-image {
  text-align: center;
  margin: 5vh 0;
}
.card-text {
  text-align: center;
  font-size: 18px;
  color: #fff;
}

.title-heading {
  font-size: 3em;
  text-align: center;
  margin: 4%;
  font-weight: bold;
}

/*-----Testimonial-------*/

.testimonial {
  min-height: 375px;
  position: relative;
  background: url(https://cdn.pixabay.com/photo/2016/07/20/19/23/baby-1531059_960_720.jpg);
  padding-top: 50px;
  padding-bottom: 50px;
  background-position: center;
  background-size: cover;
}
#testimonial4 .carousel-inner:hover {
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#testimonial4 .carousel-inner:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#testimonial4 .carousel-inner .item {
  overflow: hidden;
}

.testimonial4_indicators .carousel-indicators {
  left: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  height: 20px;
  bottom: 15px;
  padding: 0 5px;
  cursor: e-resize;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}
.testimonial4_indicators .carousel-indicators li {
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  text-indent: 0;
  margin: 2px 3px;
  cursor: pointer;
  display: inline-block;
  background: #ffffff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.testimonial4_slide img {
  top: 0;
  left: 0;
  right: 0;
  width: 136px;
  height: 136px;
  margin: auto;
  display: block;
  color: #f2f2f2;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  position: relative;
  border-radius: 50%;
  box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
}
.testimonial4_slide p {
  color: #e8eeee;
  font-size: 20px;
  line-height: 1.4;
  margin: 40px 0 20px 0;
  font-weight: 400;
  background-color: #057979;
}
.testimonial4_slide h4 {
  color: #ffffff;
  font-size: 22px;
}

.testimonial .carousel {
  padding-bottom: 50px;
}
.testimonial .carousel-control-next-icon,
.testimonial .carousel-control-prev-icon {
  width: 35px;
  height: 35px;
}
/* ------testimonial  close-------*/

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #263238;
  text-align: center;
  color: #f4f4f4;
  margin-top: 40px;
}

.icons {
  padding-top: 1rem;
}

.icons a {
  text-decoration: none;
  font-size: 2rem;
  margin: 0.5rem;
  color: #f4f4f4;
}

.company-name {
  font-size: 1.6rem;
  margin-top: 0.5rem;
}

@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

/* media queries */

@media (min-width: 420px) {
  .-fx-image-gal {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .-fx-gal-item {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .-fx-gal-item {
    width: 33.33%;
  }
}

@media (max-width: 786px) {
  html {
    font-size: 55%;
  }
  header .fa-bars {
    display: block;
  }
  header .nav {
    position: fixed;
    top: -100rem;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    border: 0.3rem solid var(--blue) !important;
    background: #fff;
    width: 95%;
    opacity: 0;
  }
  header .nav ul {
    width: 100%;
    flex-flow: column;
    padding: 2rem 0;
  }
  header .nav ul li {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
  }
  header .nav ul li a {
    font-size: 3rem;
    display: block;
  }
  header .nav-toggle {
    top: 50%;
    opacity: 1;
  }

  .home .content h1 {
    text-align: center;
  }
  .home .content h1 span {
    text-align: center;
  }
  .home .content h3 {
    text-align: center;
  }
  @keyframes mymove {
    from {
      left: 0px;
    }
    to {
      left: 200px;
    }
  }
}
